# <font color=blue>Assignment for "Grouping and Aggregation Operations on DataFrames"</font>

For Pandas assignments, you are going to use [Titanic](https://www.kaggle.com/c/titanic/download/GQf0y8ebHO0C4JXscPPp%2Fversions%2FXkNkvXwqPPVG0Qt3MtQT%2Ffiles%2Ftrain.csv) (train.csv) dataset. Download the dataset and load to a data frame.

1. Calculate the average age of the passengers for each gender and passenger class by using `groupby()` method.

In [27]:
import pandas as pd
train_data = pd.read_csv("train.csv", index_col=0)

train_data.groupby(["Sex","Pclass"])["Age"].mean()

Sex     Pclass
female  1         34.611765
        2         28.722973
        3         21.750000
male    1         41.281386
        2         30.740707
        3         26.507589
Name: Age, dtype: float64

In [28]:
train_data.groupby(["Sex","Pclass"]).agg({"Age":"mean"})

                     Age
Sex    Pclass
female 1       34.611765
       2       28.722973
       3       21.750000
male   1       41.281386
       2       30.740707
       3       26.507589

2. Group by embarkation port and print values. (Notice that you get unique values with this.)

In [46]:
# display(train_data)

for  a,b in  train_data.groupby("Embarked"):
    print(a)
    
    #print(a,b)

C
Q
S