# <font color=blue>Assignments for "Combining DataFrames"</font>


For Pandas assignments, you are going to use [Titanic](https://www.kaggle.com/c/titanic/download/GQf0y8ebHO0C4JXscPPp%2Fversions%2FXkNkvXwqPPVG0Qt3MtQT%2Ffiles%2Ftrain.csv) (train.csv) dataset. Download the dataset and load to a data frame. We also need [test set](https://www.kaggle.com/c/titanic/download/GQf0y8ebHO0C4JXscPPp%2Fversions%2FXkNkvXwqPPVG0Qt3MtQT%2Ffiles%2Ftest.csv) (test.csv) for this assignment.

1. Read both datasets and concatenate test set to train set. Print lenght of new dataset.

In [13]:
import pandas as pd

train_data=pd.read_csv("train.csv", index_col=0)
test_data=pd.read_csv("test.csv", index_col=0)
# display(train_data)
# display(test_data)

all_data=pd.concat([train_data,test_data])
display(all_data)
print("lenght of new dataset:",len(all_data))

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

lenght of new dataset: 1309

2. Below are 2 groups of values for 2 datasets. The first one is for features and the second one is for target. Using these, create 2 data frames with the methods you have learned in the previous lessons. Then, merge them with all 4 methods and display lenghts of them.

```  python
id,age,sex,beats_per_sec,cholesterol
1001,63,Male,145,233
1001,37,Male,130,250
1002,41,Female,130,204
1002,56,Male,120,236
1003,57,Female,120,354
1004,57,Male,140,192
1005,56,Female,140,294
1006,44,Male,120,263
1007,52,Male,172,199
1007,57,Male,150,168
1008,54,Male,140,239
1008,48,Female,150,264


id,target
1001,0
1002,1
1004,0
1005,1
1007,0
1008,1
```

In [49]:
with open("features_data.csv",'w') as f: 
    f.write("""id,age,sex,beats_per_sec,cholesterol
1001,63,Male,145,233
1001,37,Male,130,250
1002,41,Female,130,204
1002,56,Male,120,236
1003,57,Female,120,354
1004,57,Male,140,192
1005,56,Female,140,294
1006,44,Male,120,263
1007,52,Male,172,199
1007,57,Male,150,168
1008,54,Male,140,239
1008,48,Female,150,264""")
    f.close()

with open("target_data.csv",'w') as f2: 
    f2.write("""id,target
1001,0
1002,1
1004,0
1005,1
1007,0
1008,1""")
    f2.close()
    
features_data=pd.read_csv("features_data.csv", index_col=0)
target_data=pd.read_csv("target_data.csv",index_col=0)
# display(features_data)
# display(target_data)

# inner
merge_data_in=pd.merge(features_data, target_data, left_on="id", right_on="id",  how = "inner")
print("lenght inner:",len(merge_data_in))
# outer
merge_data_out=pd.merge(features_data, target_data, left_on="id", right_on="id",  how = "outer")
print("lenght outer:",len(merge_data_out))

# left
merge_data_left=pd.merge(features_data, target_data, left_on="id", right_on="id",  how = "left")
print("lenght left:", len(merge_data_left))

# right
merge_data_right=pd.merge(features_data, target_data, left_on="id", right_on="id",  how = "right")
print("lenght right:", len(merge_data_right))

lenght inner: 10
lenght outer: 12
lenght left: 12
lenght right: 10